{{> head}} {{> navbar}}

<div class="row">

    <div class="col-lg-8">
        <h1>Developer</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ipsum deserunt perferendis fugit odio sed autem est
            non maxime repudiandae, cupiditate neque ipsam rem dignissimos corrupti magnam nostrum vitae velit!
        </p>

    </div>
    <div class="col-lg-4">
        <img src="assets/img/developer.png" class="img-thumbnail">

    </div>

</div>
{{> footer}}